
@{
    ViewBag.Title = "Hinweis";
}

<h2 align="center">Hinweis</h2>

<p align="center"> Dieser Dienst kostet Sie 4,65 und ist innerhalb von 14 Tagen per Überweisung zu bezahlen</p>

<br />
<br />
<div class="row">
        <div align="center">

           @Html.ActionLink("Bestätigen", "Kreditrahmen", "KonsumKredit",  new { @class = "btn btn-default" })
        </div>
    </div>





