
@{
    ViewBag.Title = "Hinweis";
}

<h2 align="center">Hinweis</h2>

<p align="center"> Dieser Dienst kostet Sie 4,65 und ist innerhalb von 14 Tagen per Überweisung zu bezahlen</p>


@Html.ActionLink("Bestätigen", "KreditRahmen", "KonsumKredit")   <b>|</b>    

@Html.ActionLink("Abbrechen", "Index", "Home")




